{% extends 'rep_app/base.html' %}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% url 'user_login' %}" method="post">
      {% csrf_token %}
      <label for="username">Email:</label>
      <input type="text" name="username" placeholder="Username">
      <label for="password">Password:</label>
      <input type="password" name="password">
      <input type="submit" name="" value="Login">
    </form>
    <hr>


  </div>

</div>

{% endblock %}
