<!-- Filters -->

<div class="table-filter-inputs-div">
  <div class="table-filter-input-div" style = "width:27%">
    <select class = "form-select table-filter restaurant-dropdown" id="restaurantFilter" style = 'height:100%' name='restaurant' onchange='filterRestaurant(this.value)'>
      <option value="All Restaurants">All Restaurants</option>
      {% for restaurant in restaurants %}
        {% if user.manager and restaurant.manager == user.manager or user.opsdirector and restaurant.opsdirector == user.opsdirector or not user.manager and not user.opsdirector %}
        <option value="{{restaurant}}">{{restaurant.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
    <div class="table-filter-input-div" style = "width:33%">
      {% if user.is_staff %}
        <select class = "form-select table-filter restaurant-dropdown" id="tagFilter" style = 'height:100%' name='tag' onchange='filterTagForm(this.value)'>
      {% else %}
        <select class = "form-select table-filter restaurant-dropdown" id="tagFilter" style = 'height:100%' name='tag' onchange='filterTag(this.value)'>
      {% endif %}
        <option value="None">Filter by Tag</option>
        {% for tag in tags %}
          <option value="{{tag.display_text}}">{{tag.display_text}}</option>
        {% endfor %}
      </select>
    </div>
  <div class="table-filter-input-div" style = "width:30%">
    <input type="text" class="table-filter" id="reviewFilter" placeholder='Search reviews for keyword'>
  </div>
  <div class="table-filter-input-div" style = "height:100%">
    <input type="submit" class = "table-filter" value = '🔍' onclick="filterReview()" title='Filter reviews by search term'></input>
  </div>
  <div class="table-filter-input-div">
    <input type="submit" class = "table-filter" value = '✕' onclick="clearReviewFilter()" title='Clear search'></input>
  </div>
</div>

<!-- Reviews Table -->

<table id = 'reviewsTable' class = 'reviews-table table table-hover' style="width: 100%">
<colgroup>
  <col span="1" style="width: 1%;">
  <col span="1" style="width: 13%;">
  <col span="1" style="width: 1%;">
  <col span="1" style="width: 1%;">
  <col span="1" style="width: 1%;">
  <col span="1" style="width: 1%;">
  <col span="1" style="width: 1%;">
  <col span="1" style="width: 38%;">
  <col span="1" style="width: 15%;">
  <col span="1" style="width: 23%;">
  <col span="1" style="width: 5%;">
</colgroup>
<thead class = 'thead-dark'>
  <tr>
    <th><p></p></th>
    <th><p>Restaurant</p></th>
    <th><p title='Overall Score'>★</p></th>
    <th class='filter-column' onclick="clickFilterColumn(this,3,'number')"><p title='Click to only see reviews with a Food Score'>F</p></th>
    <th class='filter-column' onclick="clickFilterColumn(this,4,'number')"><p title='Click to only see reviews with a Service Score'>S</p></th>
    <th class='filter-column' onclick="clickFilterColumn(this,5,'number')"><p title='Click to only see reviews with an Ambience Score'>A</p></th>
    <th class='filter-column' onclick="clickFilterColumn(this,6,'number')"><p title='Click to only see reviews with a Value Score'>V</p></th>
    <th class='filter-column' onclick="clickFilterColumn(this,7,'text')"><p title='Click to only see reviews with a written review' style = "text-align:center;">Review</p></th>
    <th><p style = "text-align:center;">Tags</p></th>
    <th><p style = "text-align:center;">Comment</p></th>
    {% if not user.manager or not user.is_staff %}
      <th><p>Submitted</p></th>
    {% else %}
      <th><p>Submit</p></th>
    {% endif %}
  </tr>
</thead>
{% for review in reviews %}
  <!-- Assign row colour based on the score of the review -->
    {% if review.score > 3 %}
      <tr class = "table-success">
    {% elif review.score == 3 %}
      <tr class = "table-warning">
    {% elif review.score < 3 %}
      <tr class = "table-danger">
    {% endif %}
      <!-- Display the company logo of the source website of the review -->
      <td>
        <a href="{{review.link}}" target="_blank" title='Click to open the original review'>
        {% load static %}
          {% if review.source == 'Google' %}
            <img src="{% static 'logos/google.png' %}" alt="Google Logo">
          {% elif review.source == 'Tripadvisor' %}
            <img src="{% static 'logos/tripadvisor.png' %}" alt="Tripadvisor Logo">
          {% elif review.source == 'SevenRooms' %}
            <img src="{% static 'logos/sevenrooms.png' %}" alt="SevenRooms Logo">
          {% elif review.source == 'Opentable' %}
            <img src="{% static 'logos/opentable.png' %}" alt="Opentable Logo">
          {% else %}
            <p>{{review.source}}</p>
          {% endif %}
        </a>
      </td>
      <td><p>{{review.restaurant}}</p></td>
      {% if review.score > 0 %}
        <td><p title='Overall Score'>{{review.score}}</p></td>
      {% else %}
        <td><p title='Overall Score'>-</p></td>
      {% endif %}
      {% if review.food > 0 %}
        <td><p title='Food Score'>{{review.food}}</p></td>
      {% else %}
        <td class='empty'><p title="This review doesn't have a Food Score">-</p></td>
      {% endif %}
      {% if review.service > 0 %}
        <td><p title='Service Score'>{{review.service}}</p></td>
      {% else %}
        <td class='empty'><p title="This review doesn't have a Service Score">-</p></td>
      {% endif %}
      {% if review.ambience > 0 %}
        <td><p title='Ambience Score'>{{review.ambience}}</p></td>
      {% else %}
        <td class='empty'><p title="This review doesn't have an Ambience Score">-</p></td>
      {% endif %}
      {% if review.value > 0 %}
        <td><p title='Value Score'>{{review.value}}</p></td>
      {% else %}
        <td class='empty'><p title="This review doesn't have a Value Score">-</p></td>
      {% endif %}
      {% if review.text %}
        <td title="This is the review that the customer wrote">
          {% if review.text|length > 100 %}
            <div class="content showContent"><p>{{review.text}}</p></div>
            <!-- <div class="show-more"><a href="#/" onClick="toggleTextDisplay(this);">Show more</a></div> -->
          {% else %}
            <p>{{review.text}}</p>
          {% endif %}
        </td>
      {% else %}
        <td class='empty'><p title="This customer didn't leave a written review" class = 'empty-text'><i>This customer didn't write a review</i></p></td>
      {% endif %}

      <!-- TAGS & COMMENTS -->

      <!-- Display tag form and comment text to staff -->


      {% if user.is_staff %}
        <form action = "{% url 'rep_app:tag_review' review.id %}" method="post">
          {% csrf_token %}
          <td>
            <div class="multiselect">
              <!-- <div class="selectBox" onclick="showCheckBoxes(this);"> -->
              <div class="selectBox">
                <!-- <a style="text-align:center;" href="#/">Show Tags</a> -->
              </div>
              <div class="checkboxes show-checkbox">
                {% for tag in tags %}
                  <label for="{{tag}} {{review.id}}">
                    {% if tag in review.tags.all %}
                      <input type="checkbox" name = "{{tag.display_text}}" id="{{tag}} {{review.id}}" checked/>{{tag}}
                    {% else %}
                      <input type="checkbox" name = "{{tag.display_text}}" id="{{tag}} {{review.id}}"/>{{tag}}
                    {% endif %}
                  </label><br />
                {% endfor %}
              </div>
            </div>
          </td>

      <!-- <form action = "{% url 'rep_app:tag_review' review.id %}" method="post">
          {% csrf_token %}
          <td>
            <select name = 'tag' class = "selectpicker" multiple="multiple" data-live-search="true">
              {% for tag in tags %}
                <option name = "{{tag.text}}" value="{{tag.text}}" >{{tag.text}}</option>
              {% endfor %}
            </select>
          </td> -->

          <td>
          {% if review.comment %} <!-- Conditional on whether review has comment -->
            <p title = 'This is the comment the manager has left'>{{review.comment}}</p>
          {% else %}
            <p title = "The manager hasn't left a comment yet" class = 'empty-text'>
            {% if review.score > 3 %} <!-- Conditional on whether review score is more than 3 -->
              <i>Managers aren't required to leave comments on reviews with more than 3 ☆s</i>
            {% else %}
              <i>The manager hasn't left a comment yet</i>
            {% endif %} <!-- End conditional on whether review score is more than 3 -->
            </p>
          {% endif %} <!-- End conditional on whether review has comment -->
          </td>
          <td><input type="submit" name="Submit" value="Add Tags"></td>
        </form>

      <!-- Display tag text and comment form to managers -->
      {% elif user.manager %} <!-- If user is manager -->
        <td>
          <p>
            {{review.tag_set}}
          </p>
        </td>
        <form action = "{% url 'rep_app:submit_review' review.id %}" method="post">
        {% csrf_token %}
          {% if review.comment %} <!-- Conditional on whether review has comment -->
            <td><textarea class='text-input' name="comment" required>{{review.comment}}</textarea></td>
          {% else %}
            <td><textarea class='text-input' name="comment" required></textarea></td>
          {% endif %} <!-- End conditional on whether review has comment -->
        <td><input type="submit" name="Submit" value="Submit"></td>
        </form>

      <!-- Display comment text to staff/directors -->
      {% else %} <!-- If user isn't staff or manager -->
        <td>
          {% for tag in review.tags.all %}
          <p>
            • {{tag.display_text}}
          </p>
          {% endfor %}
        </td>
        <td>
        {% if review.comment %} <!-- Conditional on whether review has comment -->
          <p title = 'This is the comment the manager has left'>{{review.comment}}</p>
        {% else %}
          <p title = "The manager hasn't left a comment yet" class = 'empty-text'>
          {% if review.score > 3 %} <!-- Conditional on whether review score is more than 3 -->
            <i>Managers aren't required to leave comments on reviews with more than 3 ☆s</i>
          {% else %}
            <i>The manager hasn't left a comment yet</i>
          {% endif %} <!-- End conditional on whether review score is more than 3 -->
          </p>
        {% endif %} <!-- End conditional on whether review has comment -->
        </td>
        <td></td>
    {% endif %} <!-- End conditional on user (which determines whether to show comment form (to managers) or comment text (to all other users))  -->
    </tr>
  {% endfor %} <!-- End loop through reviews -->
</table>
