{% extends "rep_app/base.html" %}
{% block body_block %}

<!-- Restaurant Stats & Comments Table -->
{% if user.is_staff %} <!-- Conditional to only show restaurants stats table to staff -->

  <div class="jumbotron no-button-jumbotron">
    <div class="container">
      <p class = "lead">
        Here's the review breakdown plus the notes that the other users see - type in the boxes & click Update to change them!
      </p>
    </div>
  </div>

  <!-- Restaurant Stats & Notes Table -->

  <!-- Filters  -->
  <input id='breakdownFilter' type="text" style="width:100%;" placeholder="Filter by restaurant" class='table-filter' onkeyup='filterBreakdown()'>

  <!-- Table -->
  <table id = 'breakdownTable' class = 'breakdown-table note-table table table-hover' style="width:100%">
    <colgroup>
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 30%;">
      <col span="1" style="width: 18%;">
      <col span="1" style="width: 5%;">
    </colgroup>
    <thead class = "thead-dark">
      <tr>
        <th><p style = "text-align:left;">Restaurant</p></th>
        <th><p>Score</p></th>
        <th><p>Food</p></th>
        <th><p>Service</p></th>
        <th><p>Ambience</p></th>
        <th><p>Value</p></th>
        <th><p>Reviews</p></th>
        <th><p><4</p></th>
        <th><p>% <4</p></th>
        <th><p>Mentions</p></th>
        <th><p>Notes</p></th>
        <th><p></p></th>
      </tr>
    </thead>
    {% for restaurant in restaurants %} <!-- Loop through restaurants -->
      {% with stats=restaurant.get_stats %} <!-- Cache stats -->
        <tr>
          <td><p style = "text-align:left;">{{restaurant}}</p></td>
          {% for category, values in stats.scores.items %} <!-- Loop through categories -->
            {% if values.average == 0 %} <!-- Conditional on whether any reviews were left for this category -->
              {% if category == 'total' %} <!-- Conditional on whether category is total & so whether empty title should include category or not -->
                <td>
                  <p title = 'No guests left a review'>-</p>
                </td>
              {% else %}
                <td>
                  <p title = 'No guests left a {{category}} score'>-</p>
                </td>
              {% endif %} <!-- End conditional on whether category is total -->
            {% else %}
              {% if values.average >= 4.5 %} <!-- Conditional on average score to determine cell colour -->
                <td class = "table-success">
              {% elif values.average >= 4 %}
                <td class = "table-warning">
              {% elif values.average < 4 %}
                <td class = "table-danger">
              {% endif %} <!-- End conditional on average score -->
              <p onclick = "filterStat('{{restaurant}}', '{{category}}')" title = 'This score is the average from {{values.total}} reviews'>{{values.average}}</p></td>
            {% endif %} <!-- End conditional on whether any reviews were left for this category -->
          {% endfor %} <!-- End loop through categories -->

          <td>
            <p>{{stats.scores.total.total}}</p>
          </td>
          <td>
            <p title = "{{stats.below_4.reviews_below_4}} reviews had 3 ★s or less">
              {{stats.below_4.reviews_below_4}}
            </p>
          </td>
          {% if stats.below_4.reviews_below_4_p < 10 %} <!-- Conditional on % of below 4 reviews to determine cell colour -->
            <td class = "table-success">
          {% else %}
            <td class = "table-danger">
          {% endif %} <!-- End conditional on % of below 4 reviews to determine cell colour -->
            <p title = "{{stats.below_4.reviews_below_4_p}}% of reviews had 3 ★s or less">
              {{stats.below_4.reviews_below_4_p}}%
            </p>
          </td>
          {% with tags=restaurant.get_tags %}
            <td>
              <p>
                {% for tag, count in tags.items %}
                  {% if count > 1 %}
                    - {{tag}} (x{{count}})
                  {% else %}
                    - {{tag}}
                  {% endif %}
                {% endfor %}
              </p>
            </td>
          {% endwith %}
          <!-- Notes Input -->
          <form action = "{% url 'rep_app:update_note' restaurant.note.id %}" method="post">
            {% csrf_token %}
            {% if restaurant.note.text %} <!-- Conditional on whether note has any text -->
              <td>
                <input type='text' class='text-input' name="note" value = "{{restaurant.note.text}}"></input>
              </td>
            {% else %}
              <td>
                <input type='text' class='text-input' name="note"></input>
              </td>
            {% endif %} <!-- End conditional on whether note has any text -->
            <td>
              <button type="submit" class='btn btn-primary note-submit' name="Update" value="Update">Update</button>
            </td>
          </form>
        </tr>
      {% endwith %} <!-- End stats variable cache -->
    {% endfor %} <!-- End loop through restaurants -->
  </table>
{% endif %} <!-- End logic for showing notes table to staff -->

<!-- Review List Jumbotron -->

<div class="jumbotron no-button-jumbotron">
  <div class="container">
    <p class = "lead">
      {% if user.manager %}
        Here are all {{user.manager.restaurant_set.first}}'s reviews from last week
      {% else %}
        Here are all the reviews from last week
      {% endif %}
    </p>
  </div>
</div>

{% include "rep_app/reviews_table.html" %}

{% endblock %}
