{% extends "rep_app/base.html" %}
{% block body_block %}

<!-- Restaurant Stats & Comments Table -->
{% if user.is_staff %}

<div class="jumbotron no-button-jumbotron">
  <div class="container">
    <p class = "lead">Here's the review breakdown plus the notes that the other users see - type in the boxes & click Update to change them! </p>
  </div>
</div>

<!-- Restaurant Stats & Notes Table -->

<!-- Filters  -->
<input id='breakdownFilter' type="text" style="width:100%;" placeholder="Filter by restaurant" class='table-filter' onkeyup='filterBreakdown()'>

<!-- Table -->
<table id = 'breakdownTable' class = 'breakdown-table note-table table table-hover' style="width:100%">
  <colgroup>
    <col span="1" style="width: 20%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 35%;">
    <col span="1" style="width: 5%;">
  </colgroup>
  <thead class = "thead-dark">
    <tr>
      <th><p style = "text-align:left;">Restaurant</p></th>
      <th><p>Score</p></th>
      <th><p>Food</p></th>
      <th><p>Service</p></th>
      <th><p>Ambience</p></th>
      <th><p>Value</p></th>
      <th><p>Reviews</p></th>
      <th><p><4</p></th>
      <th><p>% <4</p></th>
      <th><p>Notes</p></th>
      <th><p></p></th>
    </tr>
  </thead>
  {% for restaurant,value_dicts in restaurant_stats.items %}
    {% if user.manager and user.manager.restaurant == restaurant or not user.manager %}
      <tr>
        <td><p style = "text-align:left;">{{restaurant}}</p></td>
        <!-- Loop through categories -->
        {% for category, values in value_dicts.scores.items %}
          {% if values.average == 0 %}
            {% if category == 'total' %}
              <td><p title = 'No guests left a review'>-</p></td>
            {% else %}
              <td><p title = 'No guests left a {{category}} score'>-</p></td>
            {% endif %}
          {% else %}
            {% if values.average > 4.5 %}
              <td class = "table-success">
            {% elif values.average > 4 %}
              <td class = "table-warning">
            {% elif values.average <= 4 %}
              <td class = "table-danger">
            {% endif %}
            <p onclick = "filterStat('{{restaurant}}', '{{category}}')" title = 'This score is the average from {{values.total}} reviews'>{{values.average}}</p></td>
          {% endif %}
        {% endfor %}

        <td><p>{{value_dicts.scores.total.total}}</p></td>
        <td><p title = "{{value_dicts.below_4.reviews_below_4}} reviews had 3 ★s or less">{{value_dicts.below_4.reviews_below_4}}</p></td>
        {% if value_dicts.below_4.reviews_below_4_p < 10 %}
          <td class = "table-success">
        {% else %}
          <td class = "table-danger">
        {% endif %}
          <p title = "{{value_dicts.below_4.reviews_below_4_p}}% of reviews had 3 ★s or less">{{value_dicts.below_4.reviews_below_4_p}}%</p></td>

        <!-- Notes Input -->
        {% for note in notes %}
          {% if note.restaurant == restaurant %}
            <form action = "{% url 'rep_app:update_note' note.id %}" method="post">
            {% csrf_token %}
              {% if note.text %}
                <td><input type='text' class='text-input' name="note" value = "{{note.text}}"></input></td>
              {% else %}
                <td><input type='text' class='text-input' name="note"></input></td>
              {% endif %}
            <td><button type="submit" class='btn btn-primary note-submit' name="Update" value="Update">Update</button></td>
            </form>
          {% endif %}
        {% endfor %}
      </tr>
      {% endif %}
    {% endfor %}
  </table>
<!-- End logic for showing notes table to staff -->
{% endif %}

<!-- Review List Jumbotron -->

<div class="jumbotron no-button-jumbotron">
  <div class="container">
    <p class = "lead">
      {% if user.manager %}
        Here are all {{user.manager.restaurant}}'s reviews from last week
      {% else %}
        Here are all the reviews from last week
      {% endif %}
    </p>
  </div>
</div>

{% include "rep_app/reviews_table.html" %}

{% endblock %}
