{% extends "rep_app/base.html" %}
{% block body_block %}

<h1>Test</h1>

{% if user.manager %}
  <h1>I am a manager and my restaurant is:</h1>
  <h1>{{user.manager.restaurant_set.first}}</h1>
{% endif %}

{% for note in notes %}
  <h2>{{note.text}}</h2>
  <h2>{{note.restaurant}}</h2>
{% endfor %}
{% for restaurant in restaurants %}
  <h2>{{restaurant}}</h2>
  <h2>{{restaurant.manager}}</h2>
  <h2>{{restaurant.note.text}}</h2>
  <h2>{{restaurant.get_stats}}</h2>
  <h2>{{restaurant.get_scores}}</h2>
{% endfor %}
<!-- {% for restaurant, value_dicts in stats.items %}
  <h1>{{restaurant}}</h1>
  {% for category, category_dict in value_dicts.scores.items %}
    <h2>{{category}}: {{category_dict.total}}, {{category_dict.average}}</h2>
  {% endfor %}

  <h1>Total Reviews: {{value_dicts.scores.total.total}}</h1>
  <h1>Number of reviews below 4: {{value_dicts.below_4.reviews_below_4}}</h1>
  <h1>% of reviews below 4: {{value_dicts.below_4.reviews_below_4_p}}</h1>

  <h1>No of submitted reviews: {{value_dicts.submissions.submitted_reviews}}</h1>
  <h1>No of unsubmitted reviews: {{value_dicts.submissions.unsubmitted_reviews}}</h1>
  <h1>% of unsubmitted reviews: {{value_dicts.submissions.submitted_p}}</h1>
{% endfor %}
{% endblock %} -->
